* {
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.app {
    height: 100%;
    width: 100vw;
}

.head {
    height: 46vh;
    width: 100%;
    background-image: linear-gradient(rgba(9, 8, 8, 0.527), rgba(10, 10, 10, 0.5)),
        url("./images/background-image.webp");
    background-repeat: none;
    background-size: cover;
    position: fixed;
    top: -60px;
    opacity: 0.8;
}

.body2 {
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

.todo {
    width: 37% !important;
    background-color: transparent;
    position: fixed;
    top: 100px;
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    font-weight: 400 !important;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.todo-title .p {
    width: 100%;
    height: 100%;
}

/* TODO input*/
.todo-inpput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.todo-inpput input {
    width: 88%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.5);
    margin: 0px 0px 20px 0px;
}

.todo-inpput button {
    width: 10%;
    height: 50px;
    margin: 0px 0px 20px 0px;
}

/* TODO body */
.todo-body {
    width: 100%;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.5);
    padding: 10px;
}

.todo-li {
    padding: 5px !important;
    margin: 0px !important;
}

.todo-li li {
    width: 100%;
    display: flex;
    list-style: none;
    font-size: large;
    justify-content: space-between;
}

.switch {
    width: 80% !important;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.switch label {
    width: 97%;
    overflow: hidden;
    margin-left: 2%;
}

.switch label::-webkit-scrollbar {
    display: none;
}

.f-button {
    width: 20% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.f-button button {
    width: 40% !important;
    background-color: transparent;
    border: none;
}

.strike {
    text-decoration: line-through;
}

.non-strike {
    text-decoration: none;
}

/* Todo footer*/
.todo-footer {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    color: rgba(10, 10, 10, 0.5) !important;
    font-size: 14px;
}

/*item*/
.items {
    width: 20% !important;
}

/*button Group*/
.btn-group {
    width: 50% !important;
    text-align: center;
}

.btn1 {
    width: 20%;
    text-decoration: none;
    color: rgba(10, 10, 10, 0.5);
    background-color: transparent;
    border: none;
}

.btn2 {
    width: 40%;
    text-decoration: none;
    color: rgba(10, 10, 10, 0.5);
    background-color: transparent;
    border: none;
}

.btn3 {
    width: 40%;
    text-decoration: none;
    color: rgba(10, 10, 10, 0.5);
    background-color: transparent;
    border: none;
}

/*clear Button */
.clear {
    width: 20% !important;
    border: none;
    background-color: transparent !important;
    color: rgba(9, 8, 8, 0.527);
}

/*switch*/
.wrapper {
    width: 200px;
    display: flex;
    justify-content: center;
}

#custom-toggle {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 40px;
    background-color: #333;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0 2px;
    margin: 0;
    cursor: pointer;
}

#custom-toggle.tgl-def::-webkit-slider-thumb {
    background-color: orange;
}

#custom-toggle.tgl-on::-webkit-slider-thumb {
    background-color: green;
}

#custom-toggle.tgl-off::-webkit-slider-thumb {
    background-color: red;
}

#custom-toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

#custom-toggle:focus {
    outline: none;
}

.rangeActive {
    background-color: green;
}